.two-column, .primary,
.secondary,
.tertiary, .name-footer, .name {
  float: left; }

.one-column, .mobileonly {
  float: right; }

.title, .description, .contact-info {
  text-align: center; }

.main-nav a, .name a {
  text-align: center;
  display: block;
  padding: 10px 0px; }

.one-column, .two-column, .primary,
.secondary,
.tertiary {
  padding-right: 1em;
  padding-left: 1em; }

.container:after {
  content: " ";
  display: table;
  clear: both; }

* {
  box-sizing: border-box; }

body {
  font-size: 0.95em;
  line-height: 1.6;
  color: #3a3a3a;
  font-family: 'Varela Round', sans-serif;
  background: #fafafa; }

p {
  margin-bottom: 1.8em; }

h2,
h3 {
  font-size: 1.2em;
  line-height: 1.8;
  color: #093a58;
  margin-top: 0; }

a:link {
  text-decoration: none;
  color: #093a58; }
a:visited {
  color: #000; }
a:hover {
  color: #0B19EF; }

img {
  max-width: 100%; }

.two-column, .primary,
.secondary,
.tertiary, .name-footer, .name {
  float: left; }

.one-column, .mobileonly {
  float: right; }

.title, .description, .contact-info {
  text-align: center; }

.main-nav a, .name a {
  text-align: center;
  display: block;
  padding: 10px 0px; }

.one-column, .two-column, .primary,
.secondary,
.tertiary {
  padding-right: 1em;
  padding-left: 1em; }

.container:after {
  content: " ";
  display: table;
  clear: both; }

.one-column {
  width: 100%; }
  @media (min-width: 768px) {
    .one-column {
      width: 50%; } }

.two-column {
  width: 100%; }
  @media (min-width: 768px) {
    .two-column {
      width: 50%; } }

.primary,
.secondary,
.tertiary {
  width: 100% !important; }
  @media (min-width: 768px) {
    .primary,
    .secondary,
    .tertiary {
      width: 50% !important;
      float: left; } }
  @media (min-width: 1024px) {
    .primary,
    .secondary,
    .tertiary {
      width: 30% !important; } }

.container {
  width: 100%;
  padding: 0 1em; }
  @media (min-width: 768px) {
    .container {
      width: 90%;
      margin: 0 auto;
      padding: 0; } }
  @media (min-width: 1024px) {
    .container {
      width: 80%;
      max-width: 1150px !important; } }

.main-footer {
  background-color: #fff;
  padding: 2em 0;
  margin-top: 30px; }

.name-footer {
  font-size: .9em;
  width: 55%;
  display: inline-block; }
  @media (min-width: 768px) {
    .name-footer {
      text-align: left;
      display: block;
      padding: 0; } }

.mobileonly {
  display: block;
  font-size: .9em; }
  @media (min-width: 768px) {
    .mobileonly {
      display: none; } }

.main-nav-footer {
  display: none; }
  @media (min-width: 768px) {
    .main-nav-footer {
      display: inline-block;
      float: right; } }

@media (min-width: 768px) {
  .main-nav-footer li {
    display: inline-block;
    margin-right: 10px; } }

@media (min-width: 768px) {
  .main-nav-footer a {
    text-align: left;
    display: block !important;
    padding: 0; } }

.main-header {
  background-color: #fafafa; }

.main-nav {
  margin-top: 5px; }
  @media (min-width: 768px) {
    .main-nav {
      float: right;
      padding-right: 19px; } }
@media (min-width: 768px) {
  .main-nav li {
    display: inline-block;
    margin-left: 15px; } }
.main-nav a {
  font-size: 0.95em;
  line-height: 1.6;
  color: #3a3a3a;
  text-transform: uppercase; }
.main-nav:hover {
  color: #0B19EF; }

.name {
  font-size: 1.25em;
  margin: 0;
  width: 100%; }
  @media (min-width: 768px) {
    .name {
      width: 25%; } }
  @media (min-width: 1024px) {
    .name {
      width: 20%; } }

.title {
  text-transform: uppercase;
  padding: 1em 0; }

.description {
  padding-top: 1em; }

.contact-info {
  padding: 0 19%; }

.portfolio {
  background: #fff;
  margin-top: 15px !important; }

.two-column, .primary,
.secondary,
.tertiary, .name-footer, .name {
  float: left; }

.one-column, .mobileonly {
  float: right; }

.title, .description, .contact-info {
  text-align: center; }

.main-nav a, .name a {
  text-align: center;
  display: block;
  padding: 10px 0px; }

.one-column, .two-column, .primary,
.secondary,
.tertiary {
  padding-right: 1em;
  padding-left: 1em; }

.container:after {
  content: " ";
  display: table;
  clear: both; }

/*# sourceMappingURL=application.css.map */
