
//Descriptive color variable

$white         : #fff;
$black         : #000;
$darkgrey      : #3a3a3a;
$blue          : #0B19EF;
$alabaster     : #fafafa;
$tarawera      : #093a58;

// Media query breakpoints

$brk-tablet : '(min-width: 768px)' ;
$brk-desktop: '(min-width: 1024px)'; 

